openapi: 3.0.3
info:
  title: bank1 API
  version: 1.0.0
  description: Generated from LLD batch - Shopping Cart API
servers:
  - url: https://api.bank1.com
    description: Production server
tags:
  - name: Cart Management
    description: Operations related to shopping cart management
paths:
  /api/cart/add:
    post:
      tags:
        - Cart Management
      summary: Add item to cart
      description: Adds a product to the shopping cart with specified quantity
      operationId: SCRUM-11692_add_item_to_cart_post
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddItemRequest'
      responses:
        '201':
          description: Item successfully added to cart
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartDTO'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Product not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Out of stock
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/cart:
    get:
      tags:
        - Cart Management
      summary: Get cart
      description: Retrieves the current shopping cart for the authenticated user
      operationId: SCRUM-11692_get_cart_get
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Cart retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartDTO'
        '401':
          description: Unauthorized access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Cart not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/cart/remove:
    delete:
      tags:
        - Cart Management
      summary: Remove item from cart
      description: Removes a specific product from the shopping cart
      operationId: SCRUM-11692_remove_item_from_cart_delete
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveItemRequest'
      responses:
        '200':
          description: Item successfully removed from cart
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartDTO'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Product not found in cart
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/cart/update:
    put:
      tags:
        - Cart Management
      summary: Update item quantity
      description: Updates the quantity of a specific product in the shopping cart
      operationId: SCRUM-11692_update_item_quantity_put
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateItemRequest'
      responses:
        '200':
          description: Item quantity successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartDTO'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Product not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Out of stock
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/cart/clear:
    delete:
      tags:
        - Cart Management
      summary: Clear cart
      description: Removes all items from the shopping cart
      operationId: SCRUM-11692_clear_cart_delete
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Cart successfully cleared
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartDTO'
        '401':
          description: Unauthorized access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Cart not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token for authentication
  schemas:
    AddItemRequest:
      type: object
      required:
        - productId
        - quantity
      properties:
        productId:
          type: string
          format: uuid
          description: Unique identifier of the product
          example: "550e8400-e29b-41d4-a716-446655440000"
        quantity:
          type: integer
          minimum: 1
          description: Quantity of the product to add
          example: 2
    RemoveItemRequest:
      type: object
      required:
        - productId
      properties:
        productId:
          type: string
          format: uuid
          description: Unique identifier of the product to remove
          example: "550e8400-e29b-41d4-a716-446655440000"
    UpdateItemRequest:
      type: object
      required:
        - productId
        - quantity
      properties:
        productId:
          type: string
          format: uuid
          description: Unique identifier of the product
          example: "550e8400-e29b-41d4-a716-446655440000"
        quantity:
          type: integer
          minimum: 1
          description: New quantity for the product
          example: 5
    CartDTO:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier of the cart
          example: "660e8400-e29b-41d4-a716-446655440000"
        userId:
          type: string
          format: uuid
          description: Unique identifier of the user
          example: "770e8400-e29b-41d4-a716-446655440000"
        sessionId:
          type: string
          description: Session identifier for guest users
          example: "session_abc123xyz"
        items:
          type: array
          description: List of items in the cart
          items:
            $ref: '#/components/schemas/CartItemDTO'
        total:
          type: number
          format: decimal
          description: Total cost of all items in the cart
          example: 299.99
        createdAt:
          type: string
          format: date-time
          description: Timestamp when cart was created
          example: "2024-01-15T10:30:00Z"
        updatedAt:
          type: string
          format: date-time
          description: Timestamp when cart was last updated
          example: "2024-01-15T11:45:00Z"
    CartItemDTO:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier of the cart item
          example: "880e8400-e29b-41d4-a716-446655440000"
        productId:
          type: string
          format: uuid
          description: Unique identifier of the product
          example: "550e8400-e29b-41d4-a716-446655440000"
        productName:
          type: string
          description: Name of the product
          example: "Wireless Mouse"
        quantity:
          type: integer
          minimum: 1
          description: Quantity of the product
          example: 2
        price:
          type: number
          format: decimal
          description: Price per unit
          example: 29.99
        subtotal:
          type: number
          format: decimal
          description: Total price for this item (quantity * price)
          example: 59.98
    ErrorResponse:
      type: object
      properties:
        timestamp:
          type: string
          format: date-time
          description: Timestamp when the error occurred
          example: "2024-01-15T12:00:00Z"
        traceId:
          type: string
          description: Unique trace identifier for debugging
          example: "trace_xyz789"
        errorCode:
          type: string
          description: Application-specific error code
          example: "PRODUCT_NOT_FOUND"
        message:
          type: string
          description: Human-readable error message
          example: "The requested product does not exist"
        details:
          type: array
          description: Additional error details
          items:
            $ref: '#/components/schemas/ErrorDetail'
    ErrorDetail:
      type: object
      properties:
        field:
          type: string
          description: Field name that caused the error
          example: "productId"
        issue:
          type: string
          description: Description of the issue
          example: "Product with given ID does not exist in database"